:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /*size*/
  --base-space: 0.3rem;
  --size-button: 50px;
  --size-border: 0.4rem;
  --size-thumnail: 50px;
  --font-size: 1.2rem;

  /*animation*/
  --animation-duration: 300ms;
}

body {
	height: 90vh;
	background-color: var(--color-black);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.logo {
	cursor: pointer;
	transition: transform var(--animation-duration) ease;
}

.buttons {
	margin: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn {
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	transition: transform var(--animation-duration) ease;
	margin-right: var(--base-space);
}

.btn:hover,
.logo:hover {
	transform: scale(1.1);
}

.imgBtn {
	width: var(--size-button);
	height: var(--size-button);
}

.colorBtn {
	font-size: var(--font-size);
	padding: calc(var(--base-space) * 1.3);
	border-radius: var(--size-border);
}

.blue {
	background-color: var(--color-blue);
}

.yellow {
	background-color: var(--color-yellow);
}

.pink {
	background-color: var(--color-pink);
}

.items {
	width: 60%;
	height: 60%;
	list-style: none;
	padding-left: 0;
	overflow-y: scroll;
	-ms-overflow-style: none;
}

.items::-webkit-scrollbar {
	display: none;
}

.item {
	background-color: var(--color-white);
	display: flex;
	align-items: center;
	padding: var(--base-space);
	margin-bottom: var(--base-space);
}

.item_thumnail {
	margin: 0 10px;
	width: var(--size-thumnail);
	height: var(--size-thumnail);
}

.item_description {
	margin-left: var(--base-space);
	font-size: var(--font-size);
}

@media (max-width: 768px) {
	.logo {
		margin-top: 30px;
	}

	.items {
		width: 90%;
		height: 70%;
	}
}